<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @todo.content %>
</p>

<p>
  <b>Completed:</b>
  <%= @todo.completed %>
</p>

<p>
  <b>Days left:</b>
  <%= @todo.days_left %>
</p>


<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
