<p>
  <b>Content:</b>
  <%=h @todo.content %>
</p>

<p>
  <b>Days left:</b>
  <%=h @todo.days_left %>
</p>

<p>
  <b>Completed:</b>
  <%=h @todo.completed %>
</p>


<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>